body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-color: #000;
  color: #fff;
}

h1 {
  font-size: 5rem;
  font-weight: 400;
  padding: 4% 0 3% 0;
}

h2 {
  font-weight: 700;
  font-size: 3rem;
}

h5 {
  font-weight: 700;
}

a {
  color: inherit;
}

a:hover {
  color: #0484d9;
  text-decoration: none;
}

#navbar {
  background-color: black;
  border-bottom: 2px solid #0484d9;
  width: 100%;
  position: fixed;
  z-index: 2;
}

.nav-item {
  text-align: right;
}

.nav-link{
  color: #fff !important;
}

.nav-link:hover{
  color: #0484d9 !important;
}

.benpic {
  width: 20rem;
  border-radius: 100%;
}

.introduction-text {
  padding: 3% 20%;
  font-size: 2.5rem;
}

.intro {
  color: #fff;
  background-color: #000;
  padding-top: 3rem;
}

#skills {
  background-color: #000;
  border-top: 2px solid #0484d9;
}

.skill-title {
  color: #fff;
}

.skill-link {
  font-weight: bold;
}

.card {
  background-color: #000;
  margin-bottom: 1rem;
  border-radius: 15px;
  border: 2px solid white;
}

.list-group-item{
  background-color: #000;
  padding: 0.25rem;
}

.card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.responsive-cards {
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (max-width: 576px) {
  .card-columns {
    column-count: 1;
  }
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 1024px) {
  .card-columns {
    column-count: 3;
  }
}

@media (min-width: 1600px) {
  .card-columns {
    column-count: 4;
  }
}

#footer {
  border-top: 2px solid #0484d9;
  background-color: #000;
  color: #fff;
}

.footer-link {
  display: inline-block;
}

.footer-text {
  margin: 1rem;
  padding: 0.5rem;
/*  background-color: #fff;*/
  transition: .75s;
}

.footer-text:hover {
  color: #0484d9;
}

.carousel .carousel-item {
  transition-duration: 2.5s;
}

@media (max-width: 800px) {
  h1 {
    font-size: 3rem;
  }

  .intro {
    padding-top: 4rem;
  }

  .benpic {
    width: 15rem;
  }

  .introduction-text {
    font-size: 1.5rem;
    padding: 3% 10%;
  }
}
